[Desktop Entry]
Encoding=UTF-8
Name=crawl
Comment=Roguelike game
Comment[pl]=Gra roguelike
Icon=crawl.png
Exec=/usr/games/crawl
Terminal=true
Type=Application
# vi: encoding=utf-8
